.loginH1{
    margin-top: -20px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.profileImage
{   
    margin-top: 30px;
    width: 150px; 
    height:150px; 
    border-radius: 50%;
    border: black;
}



.loginP
{
    margin-top: 100px;
    color: white;
}
.loginH2{
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.a1 {
    color: white;
  }

/*.a2 
{   
   color: white;
}*/
.a2:hover 
{  
    text-decoration: none !important;
   color: black;
}
a:active { 
    color: black;
  }
  label{
      text-align: left !important;
  }
 .btnn{
    width: 150px!important;
 }

  .footer{
      position: relative;
  }