

<cfquery name="qretrvProjectsData" datasource="devendra" >
    SELECT 
     [project_master].[project_name]
     FROM    [Training].[dbo].[project_master] 
     INNER JOIN [Training].[dbo].[user_project_mapping] 
     ON [project_master].[project_id] = [user_project_mapping].[projectid]
     WHERE [user_project_mapping].[userid]=130
</cfquery>
<cfdump var="#qretrvProjectsData#">

    <cfset listProjects = valueList(qretrvProjectsData.project_name)  >
    <cfdump var="#listProjects#"><cfabort>

    <select>
    <cfloop query="qretrvProjectsData">
        <cfif qretrvProjectsData.project_name eq listProjects>
            <option value="#project_id#">#listItem#</option>
        </cfif>
    </cfloop>
</select>

    <!---<cfloop query="qretrvProjectsData">
        <cfset listProjects = "">
            <cfset finallistProjects = listAppend (listProjects, "#qretrvProjectsData.project_name#" ) >
        </cfloop>--->
    


<cfdump var="#qretrvProjectsData#">
<cfdump var="#qretrvProjectsData.columnList#">
<cfdump var="#qretrvProjectsData.currentRow#">
<cfdump var="#qretrvProjectsData.recordCount#">

<cfloop from="1" to="#qretrvProjectsData.recordCount#" index="i">
        <cfset listProjects = "">
        <cfset finalList=listAppend(listProjects,#qretrvProjectsData.project_name#)>
    </cfloop>

    <cfdump var="#finalList#">
    <cfoutput>
        #listLen(finalList)#
    </cfoutput>


    <!---<cfdump var="#qretrvProjectsData#">
    <cfloop from="1" to="#qretrvProjectsData.recordCount#" index="i">
        <cfloop from="1" to="#qretrvProjectsData.recordCount#" index="j">
        <cfset arrayProjects = arrayNew(1)>
        <cfset arrayProjects[i] = #qretrvProjectsData.project_name#>
    </cfloop>

 
    </cfloop>

    <cfdump var="#arrayProjects#">--->
   <!--- <cfset arryNE = arrayNew(1)>
    <cfset arryNE[1] = "Access" >
    <cfset arryNE[2] = "music" >
    <cfdump var="#arryNE#">--->