<cfset encryptedstring = encrypt('Jeff','12345')>

<cfset decryptedstring = decrypt('$7;*1J@','12345')>
<cfoutput>
   encryptedstring: #encryptedstring#
    decryptedstring: #decryptedstring#
</cfoutput>


