<link href="css/main.css" rel="stylesheet"> 
<div class="container-fluid footer bottom-fixed">
    <cfset yearNow = #Year(now())# />
    <cfoutput>
        &copy; Copyright  #yearNow# <a class="a1" href="http://www.dasteksoftwares.com/" target="_blank"> DAStek Softwares </a>
    </cfoutput>
</div>
